@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red:  hsl(354, 84%, 57%);

  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white:  hsl(0, 0%, 100%);
}

body{
  background-color: var(--magnolia);
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  overflow: hidden;
}

.form-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--magnolia);
}

.form-top{
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.active-step{
  background-color: var(--light-blue);
  color: black;
}

.step-number{
  width: 28px;
  height: 28px;
  font-size: 13px;
  font-weight: 700;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.step-details{
  display: none;
}

.form-bottom{
  width: 100%;
  border-radius: 10px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages{
  display: flex;
  flex-direction: column;
}


.page-one{
  display: flex;
  width: 90%;
  background-color: var(--white);
  position: relative;
  top: -50px;
  border-radius: 10px;
  padding: 20px 20px 35px 20px;
}

.page-one .header h1, .page-two .header h1, .page-three .header h1, .page-four .header h1, .page-five .header h1 {
  color: var( --marine-blue);
  font-size: 20px;
  font-weight: 700;
  margin: 0px 5px 10px;
}

.page-one .header p, .page-two .header p, .page-three .header p, .page-four .header p, .page-five .header p {
  color: var(--cool-gray);
  font-size: 15px;
  line-height: 22px;
  margin: 0px 17px 20px 5px;
}


.page-one form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.label{
  display: flex;
  justify-content: space-between;
}

.page-one form label{
  color: var(--marine-blue);
  font-size: 12px;
  font-weight: 500;
}

.page-one input{
  color: var(--marine-blue);
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  padding-left: 20px;
}

.page-one form input{
  height: 35px;
  border: 1px solid var(--light-gray);
  border-radius: 3px;
  margin-top: -12px;
}

.page-one ::placeholder{
  color: var(--cool-gray);
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-left: 20px;
}

.error, .error-email, .error-phone{
  display: none;
  color: var(--strawberry-red);
  font-size: 12px;
  font-weight: 700;
}

.page-two{
  display: none;
  width: 90%;
  background-color: var(--white);
  position: relative;
  top: -50px;
  border-radius: 10px;
  padding: 20px 20px 35px 20px;
}

.page-two form{
  display: flex;
  flex-direction: column;
}

.arcade, .advanced, .pro{
  margin-bottom: 10px;
  border-radius: 5px;
}

.plan{
  display: flex;
  border: 1px solid var(--light-gray);
  padding: 13px 10px;
}

.plan:hover{
  border: 1px solid var(--purplish-blue);
  cursor: pointer;
}

.active-plan{
  background-color: var(--magnolia);
  border: 1px solid var(--purplish-blue);
}

.plan img{
  margin-right: 15px;
  width: 35px;
  height: 35px;
}

.title-price h4{
  color: var(--marine-blue);
  font-size: 14px;
  margin-bottom: 4px;
}

.title-price p{
  color: var(--cool-gray);
  font-size: 12px;
}

.yearly-price, .discount{
  display: none;
}

.plan-toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  column-gap: 20px;
  background-color: var(--magnolia);
  margin-top: 10px;
  border-radius: 5px;
}

.plan-toggle p{
  color: var(--cool-gray);
  font-size: 12px;
  font-weight: 700;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
  
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--marine-blue);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 10px;
  
}

.slider.round:before {
  border-radius: 50%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  bottom: 5px;
  left: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.spacer{
  display: none;
}

.page-three{
  display: none;
  width: 90%;
  background-color: var(--white);
  position: relative;
  top: -50px;
  border-radius: 10px;
  padding: 20px 20px 35px 20px;
}

.page-three form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-on{
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  cursor: pointer;
}

.page-three form input{
  margin-left: 5px;
}

.page-three form input[type="checkbox"]{
  width: 17px;
  height: 17px;
  accent-color: var(--purplish-blue);
  }

.add-on-description{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.add-on-description label{
  color: var(--marine-blue);
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
}

.add-on-description p{
  color: var(--cool-gray);
  font-size: 11px;
  font-weight: 500;
}

.price{
  color: var(--purplish-blue);
  font-size: 10px;
  font-weight: 500;
  margin-left: auto;
}

.page-four{
  display: none;
  width: 90%;
  background-color: var(--white);
  position: relative;
  top: -50px;
  border-radius: 10px;
  padding: 20px 20px 35px 20px;
}

.page-four .header p{
  margin-right: 10px;
}

.checkout-box{
  background-color: var(--magnolia);
  padding: 20px;
  border-radius: 10px;
}

.selected-plans{
  display: flex;
  justify-content: space-between;
}

.selected-plan{
  color: var(--marine-blue);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 2px;
}

.change{
  font: inherit;
  background-color: inherit;
  color: var(--cool-gray);
  font-size: 14px;
  text-decoration: underline;
  border: none;
  cursor: pointer;
}

.change:hover{
  color: var(--purplish-blue);
}

.selected-plan-price{
  color: var(--marine-blue);
  font-size: 14px;
  font-weight: 700;
  margin: auto 0px;
}

hr.solid{
  border: 0.5px solid var(--light-gray);
  margin: 15px 0px;
}

.selected-addons{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.selected-addon, .checkout-totals{
  display: flex;
  justify-content: space-between;
}

.selected-adddon-name, .checkout-total-name{
  font-size: 14px;
  color: var(--cool-gray);
}

.selected-addon-price{
  color: var(--marine-blue);
  font-size: 13px;
  font-weight: 500;
}

.checkout-totals{
  margin-top: 30px;
  padding: 0px 20px;
}

.checkout-total-price{
  color: var(--purplish-blue);
  font-size: 14px;
  font-weight: 700;
}

.page-five{
  display: none;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  position: relative;
  top: -50px;
  border-radius: 10px;
  padding: 70px 20px 70px 20px;
}

.page-five img{
  width: 50px;
  height: 50px;
}

.page-five .header h1{
  text-align: center;
  margin-top: 20px;
}

.page-five .header p{
  text-align: center;
  margin: 0px 10px;
}

.mobile-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100vw;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
}

.prev-button-mobile{
  background-color: inherit;
  color: var(--cool-gray);
  font: inherit;
  font-size: 13px;
  font-weight: 700;
  margin-left: 10px;
  border: none;
  opacity: 0.8;
}

.prev-button-mobile:hover{
  color: var(--marine-blue);
}

.next-button-mobile{
  height: 35px;
  width: 80px;
  background-color: var(--marine-blue);
  color: white;
  font: inherit;
  font-size: 13px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
}

.desktop-buttons{
  display: none;
}


/* DESKTOP RESPONSIVENESS */

@media (min-width: 800px) {
  body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--magnolia);
  }

  .mobile-buttons{
    display: none;
  }

  .form-container{
    width: 800px;
    height: 500px;
    flex-direction: row;
    background-color: var(--white);
    padding: 15px;
    border-radius: 10px;
  }

  .form-top{
    width: 300px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0;
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  .steps{
    display: flex;
    column-gap: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
    padding: 5px 0px;
  }

  .step-number{
    width: 26px;
    height: 26px;
    margin: auto 0px;
  }

  .step-one{
    margin-top: 30px;
  }

  .step-details{
    display: block;
  }

  .step-details p{
    color: var(--cool-gray);
    font-size: 10px;
    text-transform: uppercase;
  }

  .step-details h3{
    color: var(--white);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .form-bottom{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
  }

  .page-one, .page-two, .page-three, .page-four, .page-five{
    display: none;
    width: 80%;
    padding: 10px;
    margin: 20px 0px 0px;
  }

  .page-one .header h1, .page-two .header h1, .page-three .header h1, .page-four .header h1, .page-five .header h1 {
    font-size: 28px;
    margin: 0px 0px 5px;
}

  .page-one .header p, .page-two .header p, .page-three .header p, .page-four .header p, .page-five .header p {
    font-size: 13px;
    margin: 0px 0px 20px;
  }

  .page-one, .page-two, .page-three, .page-four, .page-five{
    position: static;
  }

  .page-one form{
    margin-top: 5px;
    gap: 20px
  }

  .page-one form input{
    border-radius: 5px;
    margin-top: -15px;
  }

  .page-one ::placeholder{
    padding-left: 13px;
  }

  .page-two form{
    flex-direction: row;
    column-gap: 15px;
  }

  .yearly-price{
    margin-bottom: 5px;
  } 

  .spacer{
    display: block;
    min-height: 50px;
  }

  .plan{
    width: 32%;
    flex-direction: column;
    justify-content: space-between;
  }

  .desktop-buttons{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
  }

  .page-three form, .checkout-box{
    margin-top: 25px;
  }

  .active-addon{
    background-color: var(--magnolia);
  }

  .page-five{
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page-five img{
    margin-bottom: 20px;
  }

  .header h1{
    margin-bottom: 15px;
  }

  .prev-button-desktop{
    border: none;
    background-color: inherit;
    font: inherit;
    color: var(--cool-gray);
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }

  .prev-button-desktop:hover{
    color: var(--marine-blue);
  }


  .next-button-desktop{
    height: 30px;
    width: 80px;
    background-color: var(--marine-blue);
    color: white;
    font: inherit;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .next-button-desktop:hover{
    opacity: 0.87;
  }


  
}